.team {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.color-picker {
    position: relative;
    top: 32px;
    left: 45%;
    box-sizing: border-box;
}


.team h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #212121;
    padding-bottom: 8px;
    border-bottom: 4px solid;
}
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}