.options-list {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
}
.options-list label {
    align-self: self-start;
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 600;
    color: #212121;
    display: block;
}
.options-list select {
    max-width: 100%;
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 1rem;
}